.section3-card-content {
  background-image: url("section_bg_12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 52%;
  background-position: top center;
  height: 0;
 
}

.text-h3 {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 20px;
  position: absolute;
  left: 195px;
  top: 50px;
  color: white;
  
}

.text-3 {
  font-family: "Nunito", sans-serif;
  line-height: 23px;
  color: white;
  font-size: 10px;
  position: absolute;
  top: 130px;
  left: 120px;
  width: 265px;
  text-align: center;
  
}

.cont-text3 {
    height: 140px;
    width: 100%;
    background-color: #1d140b;
    padding: 80px 0px 0px;
    position: relative;
    
}
